.headerstyle {
    background-color: #bdf100;
    padding: 20px;
    text-align: center;
}

.table-cell-border {
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #dee2e6;
}

.table-cell-border:last-child {
  border-right: none;
}